accelerate 
datasets 
peft 
bitsandbytes 
tensorboard
transformers
pillow
urllib3
idna
certifi
PyYAML
# pip install torch==2.6.0 torchvision==0.21.0 torchaudio==2.6.0 --index-url https://download.pytorch.org/whl/cu124
# pip install flash-attn --no-build-isolation